
.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.form {

}

.odd {
  background-color: #1f1f1f;
}

.even {
  background-color: #262626;
}

.item {
  flex: 1 1;
  display: flex;
}

.expired {
  background-color: var(--expiredColor);

  &.even {
    background-color: color-mix(in srgb, var(--expiredColor), white 10%);
  }
}

.burning {
  background-color: var(--burningColor);

  &.even {
    background-color: color-mix(in srgb, var(--burningColor), white 10%);
  }
}

.spot {
  background-color: var(--spotColor);

  &.even {
    background-color: color-mix(in srgb, var(--spotColor), white 10%);
  }
}
